@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #343a40; /*gray-8 open colors*/
  background: #f8f9fa; /*gray-0 open colors*/
  --color-text-primary: #343a40; /*gray-8 open colors*/
  --color-text-secondary: #495057; /*gray-7 open colors*/
  --color-border-primary: #dee2e6; /*gray-3 open colors*/
  --color-bg-primary: #f8f9fa; /*gray-0 open colors*/
  --color-bg-secondary: #f1f3f5; /*gray-1 open colors*/
  --color-bg-tertiary: #f1f3f5; /*gray-1 open colors*/
  --color-divide-primary: #dee2e6; /*gray-3 open colors*/
  --color-header-tab-bg-active: #ced4da; /*gray-4 open colors*/
  --color-header-tab-text-active: #343a40; /*gray-8 open colors*/
  --color-skeleton-bg: #d1d5db;
  --color-skeleton-from: #d1d5db;
  --color-skeleton-to: #d1d5db;
  --color-skeleton-via: #e5e7eb;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #ced4da;
  background: #161b22f2;
  --color-text-primary: #f1f3f5; /*gray-1 open colors*/
  --color-text-secondary: #868e96; /*gray-6 open colors*/
  --color-border-primary: #495057; /*gray-7 open colors*/
  --color-bg-primary: #161b22f2;
  --color-bg-secondary: #24292f;
  --color-bg-tertiary: #0d1117;
  --color-divide-primary: #495057; /*gray-7 open colors*/
  --color-header-tab-bg-active: #24292f;
  --color-header-tab-text-active: #ced4da; /*gray-4 open colors*/
  --color-skeleton-bg: #4b5563;
  --color-skeleton-from: #4b5563;
  --color-skeleton-to: #4b5563;
  --color-skeleton-via: #374151;
}

/* #0d1117 -header-color dark */
/* #30363d border-color light*/
/* #24292f color-bg-secondary */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
