@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #343a40; /*primary color for text, border, etc*/
  --color-2: #ced4da; /*secondary color for text, border, etc*/
  --color-3: #f8f9fa; /*tertiary color for text, border, cards etc*/
}
[data-theme="dark"] {
  --color-1: #ced4da; /*primary color for text, border, etc*/
  --color-2: #495057; /*secondary color for text, border, etc*/
  --color-3: #252b30; /*tertiary color for text, border, cards etc*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #ced4da; /*primary color for text, border, etc*/
    --color-2: #495057; /*secondary color for text, border, etc*/
    --color-3: #252b30; /*tertiary color for text, border, cards etc*/
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
